.main-title {
    font-size: 72px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    line-height: 105%;
    letter-spacing: -0.03em;
    margin-top: 56px;
    margin-bottom: 0px;

    @include media-breakpoint-down(lg) {
        margin-top: 48px;
        font-size: 36px;
        line-height: 125%;
        letter-spacing: -0.02em;
    }
}

.main-page-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    max-width: 768px;
    margin-top: 24px;

    @include media-breakpoint-down(lg) {
        margin-top: 16px;
        font-size: 16px;
    }
}

.main-code-demo {
    margin-top: 64px;
    max-width: 900px;
}

.main-site-main-page {
    #vapor-navbar {
        display: none;
    }
}

.main-page-callout-buttons {
    margin-top: 48px;

}

#vapor-hero-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 233px;
    height: 90px;

    @include media-breakpoint-down(lg) {
        margin-top: 16px;
        width: 100px;
        height: 38px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 64px;
    }
}

.main-site-main-page {
    background-position-x: center; 
    background-position-y: 320px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

.used-by-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 32px;
}

.used-by-companies-items {
    column-gap: 80px;
    margin-bottom: 32px;

    @include media-breakpoint-down(lg) {
        column-gap: 40px;
        margin-bottom: 16px;
    }
}

.used-by-item {
    margin-bottom: 32px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 16px;
    }
}

.used-by-icon {
    display: block;
    overflow: hidden;
}

.icon-swift-package-index {
    width: 241px;
    height: 54px;

    @include media-breakpoint-down(lg) {
        width: 163px;
        height: 36px;
    }
}

.icon-spotify {
    width: 161px;
    height: 49px;

    @include media-breakpoint-down(lg) {
        width: 80px;
        height: 24px;
    }
}

.icon-john-lewis {
    width: 115px;
    height: 73px;

    @include media-breakpoint-down(lg) {
        width: 57px;
        height: 36px;
    }
}

.icon-allegro {
    width: 145px;
    height: 51px;

    @include media-breakpoint-down(lg) {
        width: 70px;
        height: 24px;
    }
}

.icon-transeo {
    width: 239px;
    height: 49px;

    @include media-breakpoint-down(lg) {
        width: 120px;
        height: 24px;
    }
}

.main-site-section-header {
    font-weight: 500;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: -0.02em;
    max-width: 768px;
    font-style: normal;
    margin-bottom: 20px;

    @include media-breakpoint-down(lg) {
        font-weight: 500;
        font-size: 30px;
        line-height: 125%;
    }
}

.main-site-packages-list {
    .caption {
        max-width: 768px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 64px;

        @include media-breakpoint-down(lg) {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .main-site-packages-grid {
        .col {
            margin-top: 32px;
        }
    }
}