.vapor-container {
    color: $pink-500;
}

#theme-switch-icon {
    background: url(/dist/images/sun.svg);
    background-position: center;
}

#vapor-logo {
    background: url(/dist/images/logo-main-black.svg);
    background-position: center;
}

.navbar {
    background: linear-gradient(180deg, $grey-100 0%, rgba($grey-100, 0) 100%);
}