@import "vapor";

$nav-link-action-color-light: $grey-800;
$heading-color-light: $grey-900;
$nav-link-color-light: $grey-600;

#theme-switch-icon {
    background-position: center;
    background-color: $nav-link-color-light;
    -webkit-mask-image: url(/dist/images/sun.svg);
    -webkit-mask-position: center;
    mask-image: url(/dist/images/sun.svg);
    mask-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#theme-switch-icon:hover {
    background-color: $nav-link-action-color-light;
}

a:hover {
    .vapor-icon {
        background-color: $nav-link-action-color-light;
    }
}

#vapor-logo {
    background: url(/dist/images/logo-main-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#vapor-logo-footer {
    background: url(/dist/images/logo-main-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: linear-gradient(180deg, $grey-100 0%, rgba($grey-100, 0) 100%);
}

body {
    background: white;
    color: $grey-700;
    background-image: url(/dist/images/main-background-light.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

h1 {
    color: $heading-color-light;
}

h2 {
    color: $heading-color-light;
}

h3 {
    color: $heading-color-light;
}

h4 {
    color: $heading-color-light;
}

h5 {
    color: $heading-color-light;
}

h6 {
    color: $heading-color-light;
}

.blog-description {
    color: $grey-700;
}

footer {
    background: $grey-200;
    border-top: 1px solid $grey-300;
    color: $nav-link-color-light;

    li {
        a {
            color: $nav-link-color-light;
        }
        
        a:hover {
            color: $nav-link-action-color-light;
        }
    }

    h6 {
        color: $nav-link-action-color-light;
    }

    .vapor-icon {
        background-color: $nav-link-color-light;
    }
}

hr {
    color: $grey-300;
}