@import "vapor";

.dark {
    $heading-color-dark: $grey-100;
    $nav-link-action-color-dark: $grey-400;

    body {
        background: $grey-900;
        color: $grey-500;
        background-image: url(/dist/images/main-background-dark.jpg);
        background-position: top; 
        background-repeat: no-repeat;
        background-size: 100% 500px;
    }

    #theme-switch-icon {
        background-color: $grey-600;
        -webkit-mask-image: url(/dist/images/moon-01.svg);
        -webkit-mask-position: center;
        mask-image: url(/dist/images/moon-01.svg);
        mask-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #theme-switch-icon:hover {
        background-color: $nav-link-action-color-dark;
    }

    .navbar {
        background: linear-gradient(180deg, $grey-900 0%, rgba($grey-900, 0) 100%);
    }

    #vapor-logo {
        background: url(/dist/images/logo-main-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #vapor-logo-footer {
        background: url(/dist/images/logo-main-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    a:hover {
        .vapor-icon {
            background-color: $nav-link-action-color-dark;
        }
    }

    .nav-link:hover {
        color: $nav-link-action-color-dark;
    }

    .navbar-nav {
        .nav-link.active {
            color: $nav-link-action-color-dark;
        }
    }

    h1 {
        color: $heading-color-dark;
    }

    h2 {
        color: $heading-color-dark;
    }

    h3 {
        color: $heading-color-dark;
    }

    h4 {
        color: $heading-color-dark;
    }

    h5 {
        color: $heading-color-dark;
    }

    h6 {
        color: $heading-color-dark;
    }

    .blog-description {
        color: $grey-500;
    }

    .blog-container {
        color: $grey-400;
    }

    $blog-content-heading-color-dark: $grey-300;

    .blog-content {
        h1 {
            color: $blog-content-heading-color-dark;
        }
    
        h2 {
            color: $blog-content-heading-color-dark;
        }
    
        h3 {
            color: $blog-content-heading-color-dark;
        }
    
        h4 {
            color: $blog-content-heading-color-dark;
        }
    
        h5 {
            color: $blog-content-heading-color-dark;
        }
    
        h6 {
            color: $blog-content-heading-color-dark;
        }
    }

    $footer-link-color-dark: $grey-600;

    footer {
        background: $off-black;
        border-top: 1px solid $grey-800;
        color: $footer-link-color-dark;
    
        li {
            a {
                color: $footer-link-color-dark;
            }
            
            a:hover {
                color: $nav-link-action-color-dark;
            }
        }
    
        h6 {
            color: $nav-link-action-color-dark;
        }
    
        .vapor-icon {
            background-color: $nav-link-action-color-dark;
        }

        .vapor-icon:hover {
            background-color: $grey-200;
        }

        #footer-copyright {
            color: $nav-link-action-color-dark
        } 
    }

    hr {
        color: $grey-700;
    }

    .btn-secondary {
        --#{$prefix}btn-bg: rgba(white, 0.05);;
        --#{$prefix}btn-border-color: 1px solid rgba($pink-300, 0.1);
        color: $pink-300;
        // border: 1px solid rgba($pink-300, 0.1);
        background: rgba(white, 0.05);
        border: 1px solid rgba($pink-300, 0.1);

        .vapor-icon {
            background-color: $pink-300;
        }
    }

    .btn-secondary:hover {
        color: $pink-200;
        --#{$prefix}btn-bg: rgba(white, 0.1);;
        --#{$prefix}btn-border-color: 1px solid rgba($pink-300, 0.2);
        background: rgba(white, 0.1);
        border: 1px solid rgba($pink-300, 0.2);
        .vapor-icon {
            background-color: $pink-200;
        }
    }

    .btn-primary:hover {
        --#{$prefix}btn-hover-bg: linear-gradient(180deg, $pink-300 0%, $pink-400 100%);
        --#{$prefix}btn-hover-border-color: transparent;
        background: linear-gradient(180deg, $pink-300 0%, $pink-400 100%);
    }

    .blog-tags {
        color: $grey-100;
    
        ul {
            li {
                background: $grey-800;

                a {
                    color: $grey-100;
                }

                a:hover {
                    color: white;
                }
            }
        }
    }

    #blog-time-tags {
        background: rgba($grey-800, 0.3);

        ul {
            li {
                background: $grey-800;
    
                a {
                    color: white;
                }
            }
        }
    }

    #blog-post-author-name {
        color: $grey-300;
    }

    blockquote {
        color: $grey-200;
    }

    #framework-dropdown-menu {
        background: $off-black;
        border: 1px solid $grey-800;
    }
    
    .nav-dropdown-container-title {
        color: $grey-100;
    }
    
    .nav-dropdown-container {
        .vapor-icon {
            background-color: $blue-300;
        }
    }

    nav {
        #vapor-navbar-toggler-icon {
            background-color: $grey-100;
        }
    }
}