@import "vapor";

.dark {
    $heading-color-dark: $grey-100;
    $nav-link-action-color-dark: $grey-400;

    body {
        background: $grey-900;
        color: $grey-500;
    }

    #theme-switch-icon {
        background-color: $grey-600;
        -webkit-mask-image: url(/dist/images/moon-01.svg);
        -webkit-mask-position: center;
        mask-image: url(/dist/images/moon-01.svg);
        mask-position: center;
    }

    #theme-switch-icon:hover {
        background-color: $nav-link-action-color-dark;
    }

    .navbar {
        background: linear-gradient(180deg, $grey-900 0%, rgba($grey-900, 0) 100%);
    }

    #vapor-logo {
        background: url(/dist/images/logo-main-white.svg);
        background-position: center;
    }

    a:hover {
        .vapor-icon {
            background-color: $nav-link-action-color-dark;
        }
    }

    .nav-link:hover {
        color: $nav-link-action-color-dark;
    }

    .navbar-nav {
        .nav-link.active {
            color: $nav-link-action-color-dark;
        }
    }

    h1 {
        color: $heading-color-dark;
    }

    h2 {
        color: $heading-color-dark;
    }

    h3 {
        color: $heading-color-dark;
    }

    h4 {
        color: $heading-color-dark;
    }

    h5 {
        color: $heading-color-dark;
    }

    h6 {
        color: $heading-color-dark;
    }

    .blog-description {
        color: $grey-500;
    }

    .blog-container {
        color: $grey-400;
    }

    $blog-content-heading-color-dark: $grey-300;

    .blog-content {
        h1 {
            color: $blog-content-heading-color-dark;
        }
    
        h2 {
            color: $blog-content-heading-color-dark;
        }
    
        h3 {
            color: $blog-content-heading-color-dark;
        }
    
        h4 {
            color: $blog-content-heading-color-dark;
        }
    
        h5 {
            color: $blog-content-heading-color-dark;
        }
    
        h6 {
            color: $blog-content-heading-color-dark;
        }
    }
}