@import "../bootstrap-overrides";

// Create the Vapor color map
$custom-colors: (
    "blue-500": #135b80,
    "blue-400": #1E92CC,
    "blue-300": #40c4ff,
    "blue-200": #a6e3ff,
    "blue-100": #e8f6fd,
    "pink-500": #701980,
    "pink-400": #B11FCC,
    "pink-300": #DF3EFB,
    "pink-200": #EA7EFC,
    "pink-100": #F9ECFB,
    "grey-900": #141416,
    "grey-800": #373953,
    "grey-700": #666880,
    "grey-600": #8385A3,
    "grey-500": #9FA1BF,
    "grey-400": #C1C2D6,
    "grey-300": #DFE0EB,
    "grey-200": #F0F0F7,
    "grey-100": #FAFAFD,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$blue-500: #135b80;
$blue-400: #1E92CC;
$blue-300: #40c4ff;
$blue-200: #a6e3ff;
$blue-100: #e8f6fd;
$pink-500: #701980;
$pink-400: #B11FCC;
$pink-300: #DF3EFB;
$pink-200: #EA7EFC;
$pink-100: #F9ECFB;
$grey-900: #141416;
$grey-800: #373953;
$grey-700: #666880;
$grey-600: #8385A3;
$grey-500: #9FA1BF;
$grey-400: #C1C2D6;
$grey-300: #DFE0EB;
$grey-200: #F0F0F7;
$grey-100: #FAFAFD;
$off-black: #1C1C1F;

// Define the fonts:
$font-family-sans-serif: "Genera Grotesk", "Inter", system-ui, helvetica, sans-serif;
$font-family-monospace: "Roboto Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

// Vapor Fonts
@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-Italic.woff2') format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-MediumItalic.woff2') format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Genera Grotesk";
    src: url('/dist/fonts/GeneraGrotesk-BoldItalic.woff2') format("woff2");
    font-weight: 700;
    font-style: italic;
}

// Global Overrides
body {
    font-feature-settings: 'salt' on;
}

.vapor-icon {
    width: 1em;
    height: 1em;
    display: block;
    overflow: hidden;
    background-color: black;
}

nav {
    .vapor-icon {
        width: 22px;
        height: 22px;
        background-color: $grey-600;
    }
}

$navbar-light-color: $grey-600;
$navbar-light-hover-color: $blue-300;
$navbar-light-active-color: $blue-300;

#vapor-navbar {
    height: 80px;
}

#vapor-logo {
    width: 130px;
    height: 50px;
}

#vapor-logo-footer {
    width: 197px;
    height: 76px;
}

.dropdown-no-outline {
    outline: 0;
}

#blog-description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.vapor-container {
    max-width: 720px;
}

$footer-font-size: 16px;

footer {
    font-size: $footer-font-size;

    h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
        margin-top: 12px;

        a {
            text-decoration: none;
        }
    }
}

#footer-copyright {
    font-size: $footer-font-size
}

#footer-social-links {
    vapor-icon {
        width: 24px;
        height: 24px;
    }

    font-size: 24px;
}

#footer-bottom {
    display: flex;
}

.blog-share {
    .vapor-icon {
        width: 17px;
        height: 17px;
    }

    ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        li {
            margin-left: 12px;
        }

        li:first-child {
            margin-left: 0;
        }

        @media (min-width: 992px) {
            li:first-child {
                margin-left: 12px;
            }
        }
    }
}

.blog-tags {
    font-size: 14px;
    color: $grey-600;

    ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        li {
            margin-right: 12px;
            background: $grey-200;
            border-radius: 16px;
            line-height: 150%;
            padding: 6px 12px 6px 12px;

            a {
                color: $grey-600;
                text-decoration: none;
            }

            a:hover {
                color: $grey-800;
            }
        }
    }
}

.btn {
    font-size: 16px;
    line-height: 150%;
    --#{$prefix}btn-border-radius: 16px;
    --#{$prefix}btn-border-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;

}

.btn-small {
    font-size: 14px;
    line-height: 150%;
    --#{$prefix}btn-border-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-primary {
    --#{$prefix}btn-bg: linear-gradient(180deg, $pink-300 0%, $pink-500 100%);
    background: linear-gradient(180deg, $pink-300 0%, $pink-500 100%);
    --#{$prefix}btn-color: white;
    color: white;

    .vapor-icon {
        background-color: white;

    }
}

#blog-time-tags {
    align-items: center;
    background: $grey-200;
    mix-blend-mode: normal;
    border-radius: 16px;
    font-size: 12px;
    color: $grey-600;
    padding-right: 12px;

    ul {
        margin-left: 4px;
        margin-top: 4px;
        margin-bottom: 4px;

        li {
            background: $grey-100;

            a {
                color: $grey-800;
            }
        }
    }
}

#blog-time-tag-container {
    display: inline-block;
}

#blog-post-author-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

#blog-post-author-name {
    color: $grey-700;
}

#blog-post-publish-date {
    color: $grey-600;
}

.blog-post-header {
    padding-top: 3em;
}

@media (min-width: 992px) {
    .blog-post-header {
        padding-top: 5em;
    }
}


.blog-post-divider {
    margin-top: 3em;
    margin-bottom: 3em;
}

blockquote {
    color: $grey-800;
    border-left: 2px solid $pink-300;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}

#framework-dropdown-menu {
    background: white;
    border-top: 1px solid $grey-200;
    border-bottom: 1px solid $grey-200;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.nav-dropdown-container-title {
    font-size: 16px;
    color: $grey-900;
}

.nav-dropdown-container-caption {
    font-size: 14px;
    color: $grey-600;
}

.dropdown-item:active {
    background: transparent;
}

.nav-dropdown-container {
    padding: 1em;

    .vapor-icon {
        background-color: $blue-400;
    }
}

@media (min-width: 992px) {
    #framework-dropdown-menu {
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        border-radius: 24px;
        border: 1px solid $grey-200;
    }
    
    .nav-dropdown-container {
        padding: 1em;
    }
}

.dropdown-toggle:after {
    $mask-image-url: '/dist/images/chevron-down.svg';
    -webkit-mask-image: url($mask-image-url);
    -webkit-mask-position: center;
    mask-image: url($mask-image-url);
    mask-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 10px;
    height: 10px;
    background-color: $navbar-light-color;
}

.dropdown-toggle:hover:after {
    background-color: $navbar-light-active-color;
}

.dropdown-toggle:active:after {
    background-color: $navbar-light-active-color;
}

.dropdown-toggle:focus:after {
    background-color: $navbar-light-active-color;
}

@media (max-width: 991px) {
    .dropdown-toggle:after {
        float: right;
    }
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

/*for animation*/
.dropdown-toggle:after {
    transition: 0.5s;
}

nav {
    #vapor-navbar-toggler-icon {
        background-color: $grey-900;
    }
}

.navbar-toggler {
    border: none;
}

@media (max-width: 991px) {
    #navbarSupportedContent {
        background: white;
        box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.07);
        border-radius: 24px 0px 0px 24px;
        padding: 1em;
        z-index: 1;
    }
}

.pagination {
    .page-item {
        color: $grey-600;
        background: transparent;
        border: none;

        a {
            color: $grey-600;
            border: none;
        }

        a:hover {
            color: $blue-300;
            background-color: transparent;
        }
    }

    .active {
        .page-link {
            color: $grey-800;
            background-color: $grey-100;
            border: 1px solid $grey-300;
            border-radius: 8px;
        }
    }

    .page-link-next-previous {
        background: $grey-100;
        border-radius: 12px;
        border: 1px solid rgba($blue-300, 0.1);

        a {
            color: $blue-300;
        }

        a:hover {
            color: $blue-400;
        }
    }
}